@model SelectList

@{
    ViewBag.Title = "FindRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindRoute</h2>

<input type="text" name="itemFrom" value="" placeholder="Routes near" />
<input type="button" name="routesNear" value="Search" onclick="FindNear();" />

<div>
    <input type="text" name="distance" value="50" /> km
</div>

@*<h4>Your Items </h4>*@
<div class="ItemsDropDown">
    @Html.DropDownList("action", Model)
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="~/Scripts/ShowMarkers.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        new google.maps.places.Autocomplete(document.getElementsByName("itemFrom")[0]);
        //GetRoutesMarkers();
    });

</script>
